body {
  background-color: rgb(255, 240, 221);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 10%;
  margin-top: 120px;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;

  border-style: solid;
  border-color: rgb(119, 136, 115);
  border-width: 1.5px;
}

tr:nth-child(odd) {
  background-color: rgb(224, 237, 244);
}

tr:nth-child(even) {
  background-color: rgb(197, 224, 233);
}

#restaurants tr {
  cursor: pointer;
}

#restaurants tr:hover {
  background-color: rgb(161, 188, 152) !important;
}

th {
  background-color: rgb(119, 136, 115);
  color: white;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.6em 1em;
  text-align: left;
}

td {
  padding: 0.5em 1em;
}

.highlight {
  background-color: rgb(
    139,
    174,
    102
  ) !important; /* force color instead of table default background color */
  font-weight: 800;
}

.closest {
  background-color: rgb(134, 176, 189) !important;
}

#modal {
  width: 80%;
  height: 60%;
  /*padding: 20px 40px;*/
  padding: 0;
}

#map {
  min-height: 400px;
  max-height: 600px;
  width: 100%;
  background-color: rgb(241, 243, 224);

  border-radius: 10px;
  border-style: solid;
  border-color: rgb(119, 136, 115);
  border-width: 2px;
}

/* modal navigation */
.navigation-bar,
.modal-menu-tabs,
.modal-weekday-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 40px;
  width: 100%;
  display: flex;
}

.navigation-bar {
  font-size: 20px;
  height: 50px;

  position: fixed;
  top: 0;
  z-index: 1000; /* place nav bar on top of leaflet*/
}

.modal-menu-tabs {
  position: sticky;
  top: 0px;
}

.modal-weekday-tabs {
  position: sticky;
  top: 40px;
}

.navigation-bar li,
.modal-menu-tabs li,
.modal-weekday-tabs li {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(161, 188, 152);
  color: white;
  text-align: center;

  padding: 8px 16px;
  text-decoration: none;
  flex: 1;
}

.navigation-bar li:hover,
.modal-menu-tabs li:hover,
.modal-weekday-tabs li:hover {
  background-color: rgb(119, 136, 115);
  cursor: pointer;
}

.hightlight-modal-menu {
  background-color: rgb(
    226,
    161,
    111
  ) !important; /* force color instead of table default background color */
  font-weight: 800;
}

/* food cards */
/* div that has food cards */
div:has(> .food-card) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  background-color: rgb(255, 240, 221);
}

.food-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  background-color: rgb(226, 161, 111);
  border-radius: 20px;

  padding: 14px 16px;
  margin-bottom: 10px;
  color: rgb(15, 33, 20);

  flex: 0 1 calc(50% - 10px); /* two cards per row on big display */
  min-width: 0;
  box-sizing: border-box;
}

/* responsive food card width on smaller display size */
@media (max-width: 768px) {
  .food-card {
    flex: 1 1 100%; /* one card per row on small display */
  }
}

/* inside food card */
.food-card div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
}

.food-card div:first-child {
  flex: 2; /* bigger */
}

.food-card > div:last-child {
  flex: 1; /* smaller */
}

.food-card div p {
  margin: 5px;
}

/* filter */

/* collapsible filter options */
#filters-container {
  width: 100%;
}

#filter-options,
#active-filters {
  background-color: #777;
  color: white;
  cursor: pointer;

  padding: 18px;
  width: 100%;
  border: none;
  margin-top: 0;
  margin-bottom: 0;

  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
#filter-options:hover,
#active-filters:hover {
  background-color: #555;
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #b4a2a2;
  width: 100%;
}

#filter-options,
#active-filters,
.collapsible-content {
  box-sizing: border-box;
}

/* contact chips */
.contact-chips div {
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px;
  flex: 1;
}

.chip {
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

/* filters */

footer {
  height: 100px;
}

#location {
  margin: 1% 1% 5% 1%;
}
