body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 10%;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

tr:nth-child(even) {
  background-color: rgb(232, 232, 232);
}

#restaurants tr {
  cursor: pointer;
}

th {
  background-color: rgba(0, 139, 139, 0.615);
  color: white;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.6em 1em;
  text-align: left;
}

td {
  padding: 0.5em 1em;
}

.highlight {
  background-color: rgb(
    179,
    183,
    224
  ) !important; /* force color instead of table default background color */
  font-weight: 800;
}

.closest {
  background-color: rgb(135, 138, 169) !important;
}

#modal {
  width: 80%;
  height: 60%;

  padding: 20px 40px;
}

#modal div {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

#map {
  height: 300px;
  background-color: antiquewhite;
}
