body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 10%;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

tr:nth-child(even) {
  background-color: rgb(232, 232, 232);
}

#restaurants tr {
  cursor: pointer;
}

th {
  background-color: rgba(0, 139, 139, 0.615);
  color: white;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.6em 1em;
  text-align: left;
}

td {
  padding: 0.5em 1em;
}

.highlight {
  background-color: rgb(
    179,
    183,
    224
  ) !important; /* force color instead of table default background color */
  font-weight: 800;
}

.closest {
  background-color: rgb(135, 138, 169) !important;
}

#modal {
  width: 80%;
  height: 60%;

  padding: 20px 40px;
}

#modal > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#map {
  min-height: 400px;
  max-height: 600px;
  width: 80%;
  background-color: antiquewhite;
}

/* modal navigation */
#modal ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 40px;
}

#modal ol li {
  float: left;
}

#modal ol li {
  display: block;
  background-color: #9a9393;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#modal ol li:hover {
  background-color: #111111;
  cursor: pointer;
}

/* food cards */
.food-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #8aae87;
  border-radius: 20px;

  padding: 14px 16px;
  margin-bottom: 10px;
  color: rgb(15, 33, 20);
}

.food-card > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
}

.food-card div p {
  margin: 5px;
}
