
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(199, 219, 213);
    margin: 0;
    padding: 0;
}

/* nav */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
}

/* main */
main {
    padding: 10%;
    display: flex;
    flex-direction: column;
}

main > * {
    padding: 2% 0%;
}

/* footer */
footer {
    display: flex;
    height: 100px;
    background-color:#293531;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

/* card container */
#card-container {
    display: flex;
}

/* cards */
.card {
    height: 200px;

    padding: 10px;
    margin: 10px;

    background-image: url(../img/maple-6656343_1280.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-size: cover;

    border-radius: 5px;
    border: 1px solid;

    overflow: scroll;

}

/* links */
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: rgb(87, 94, 119);
    background-color: antiquewhite;
    padding: 10px;
    font-weight: bold;
}

a:hover,
a:active {
  color: rgb(74, 69, 138);
}

/* image */
img {
    border: 3px solid;
    border-radius: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(0, 139, 139, 0.615);;
  color: white;
}

ol {
    list-style-type: none;
}
